/*
    Tabbed Slider Block Styles
*/
@use "@/styles/mixins" as *;

.blockHeading {
    font-family: var(--font-family-playfair);
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -2%;
    margin-bottom: 8px;

    @include min-width( m ) {
        font-size: 44px;
        line-height: 60px;
    }

    @include min-width( l ) {
        font-size: 50px;
        line-height: 70px;
    }
}

.blockDescription {
    font-family: var(--font-family-source-sans);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

.tabs {
    display: flex;
    gap: 41px;
    margin: 48px 0 40px;

    border-bottom: 2px solid #2D2C2B80;

    @include min-width( m ) {
        margin: 72px 0 48px;
    }
}